/*
 * Fixed top
 */

html, body {
  height: 100%;
}

body {
  padding-top: 50px;

}


.fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  /*min-height: 20px;*/

}
.custom-container {
  margin: 0 20px;
  padding: 0;
}


.box-shad {
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.55);
}


/*
 * Account menu
 */

#account {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  float: right;
}

#account-menu {
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 1.3em;
}

#account:hover {
  background-color:rgba(0,0,0,0.1); /*where 0.5 stands for 50% opacity*/
}








/*
 * Settings panel
 */
.row.settings {
  position: relative;
  height: 45px;
  padding: 0;
  margin: 0;
  min-width: 630px;
  z-index: 1031px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7b7b7+0,919191+100 */
background: rgb(183,183,183); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,183,183,1) 0%, rgba(145,145,145,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,183,183,1)), color-stop(100%,rgba(145,145,145,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#919191',GradientType=0 ); /* IE6-9 */

}

.row.settings .logo {
  width: 50px;
  height: 45px;
  display: inline-block;
  margin: 0 0 0 20px;
}

.row.settings .project-name {
  position: absolute;
  width: 250px;
  height: 45px;
  display: inline-block;
  margin: 0 0 0 20px;
}

.row.settings .profile {
  position: absolute;
  right: 20px;
  width: 175px;
  height: 45px;
  display: inline-block;
  margin: 0 0 0 20px;
}

/*
 * Metadata panel
 */
.row.meta-panel {
  height: 200px; /* 150 + margsin (2x8) */
  padding: 8px 0;
  margin: 0;
  width: 100%;
  min-width: 630px;
  min-height: 150px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+0,8f0222+56,a90329+100 */
background: rgb(109,0,25); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(56%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  -webkit-box-shadow: -1px -1px 25px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 25px 5px rgba(0,0,0,0.75);
box-shadow: -1px -1px 25px 5px rgba(0,0,0,0.75);
}


.row.meta-panel .image-and-rating {
  height: 180px;
  width: 20%;
  /*min-width: 150px;*/
  float: left;
}

.row.meta-panel .meta-and-recommend {
  height: 180px;
  width: 60%;
  /*min-width: 250px;*/
  float:left;
}

.row.meta-panel .upcoming {
  height: 180px;
  width: 20%;
  /*min-width: 150px;*/
  float:left;
}



.channel-list {
  /*margin-top: 170px;  The reason for this is unknown to me */
  padding: 0px 20px 0;
}

.channel-name {
  margin-left: 20px;
  color: #736E6E;
}




/*
 *
 */
.gn-logo {
  background:url(../assets/gracenote_logo.png) left top;
  background-size: 40px;
  background-repeat: no-repeat;
  height:40px;
  width: 40px;
  display: block;
  margin: 2px;
}


















/*
 * Channel slider action
 */

.slider {
    position: relative;
    
    /*background-color: #ccc;*/
    height: 150px;
    margin: 10px;
    padding: 10px;
    
    overflow: hidden;
}
.track {
    position: absolute;
    top: 10px;
    left: 10px;
    
    margin: 0;
    padding: 0;
    border: 0;

    width: 2500px;

}
.show {
    float: left;
    
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    
    width: 250px;
    height: 200px;
    
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.show:hover {
    opacity: 0.5;
}
.show:nth-child(1) {
    background-color: #ff0000;
}
.show:nth-child(2) {
    background-color: #ffaa00;
}
.show:nth-child(3) {
    background-color: #ffff00;
}
.show:nth-child(4) {
    background-color: #00ff00;
}
.show:nth-child(5) {
    background-color: #0000ff;
}
.show:nth-child(6) {
    background-color: #aa00ff;
}
.show:nth-child(7) {
    background-color: #ff00ff;
}
.left, .right {
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
    font-size: 48px;
    top: 50px;
    
    cursor: pointer;
    z-index: 1;
}

.left:hover, .right:hover {
  color: rgba(0, 0, 0, 0.75);
}

.left {
    left: 0;
}
.right {
    right: 0;
}


.wrapper {
  min-height:100%;
  position:relative;
  padding-bottom: 70px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


/*
 *
 */
.footer {

  text-align: center;
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  border-top: 1px solid black;
  background: gray;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7b7b7+0,919191+100 */
background: rgb(183,183,183); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(183,183,183,1) 0%, rgba(145,145,145,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,183,183,1)), color-stop(100%,rgba(145,145,145,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(183,183,183,1) 0%,rgba(145,145,145,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#919191',GradientType=0 ); /* IE6-9 */


-webkit-box-shadow: -1px -1px 25px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 25px 5px rgba(0,0,0,0.75);
box-shadow: -1px -1px 25px 5px rgba(0,0,0,0.75);
}